*.gitignore.*
make.bat
*副本*
Thumbs.db
*.doc
*.docx
*.pdf
*.mts
*.mov
*.mp4
*.flv
*.log
*.APK
.vscode
.DS_Store

/tmpX/
/_build/
/_static/
/_templates/
/.vscode/


# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
.pxt
_site
*.db
*.tgz
.header.json
.simstate.json



